.site-header{
    background-color:rgb(47, 140, 202);
    color: azure;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content{
    margin: 10px;
}

body{
    margin:0;
    background-color:rgb(44, 186, 230);
    color: azure;
}

.course-style{
    color: azure;
}

.profile-pic{
    border-radius:50%;
    height:200px;
    width:200px;
}
.songs{
    background-color:rgb(44, 186, 230);
    color: rgb(177, 41, 41);
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.song{
    background-color:rgb(44, 186, 230);
    color: rgb(177, 41, 41);
    font-family: monospace;
    align-items: center;
}
#song-title{
    color:azure;
}

